.game-thing {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    position: relative;
    z-index: 2;
    gap: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  min-width: 500px;
  min-height: 270px;
  border-radius: 15px;
}

.loader-container {
  align-items: center;
  justify-content: center;
}

.box img {
  width: 150px;
  height: 150px;
}