* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  /* letter-spacing: -.05em; */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: grey;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0;
}

body {
  overflow: hidden;
  height:100vh;
  width:100vw;
  position:relative;
  overflow:hidden;
  background:#000000;
  &:before{
    content:'';
    position:absolute;
    width:350%;
    height:250%;
    top:-25%;
    left:-25%;
    border-radius:100%;
    background:radial-gradient(ellipse at center, #000000 27.5%, #c22a1e 27.5%) 62.5% 37.5% / 100% 200% no-repeat;
  }
}